﻿
<style type="text/css">.grid-div label { display: inline}</style>
@model GridReport.Web.Models.RecordModel

@{
    ViewBag.Title = "Отчет по задолженности агента";
    ViewBag.Small = "RUB";

    var redColor = new { style = "color: red" };
    var greenColor = new { style = "color: green" };
}
<script>
    function onChange() {
        $('form').submit();
    }
</script>
@using (Html.BeginForm("Index","Home",FormMethod.Get))
{
    <div class="grid-div">
        @Html.TextBoxFor(a=>a.filter)
        <input value="Search" type="submit"/>
        @Html.LabelFor(a=>a.from)
        @Html.Kendo().DatePickerFor(a=>a.from).Events(a=>a.Change("onChange"))
        @Html.LabelFor(a=>a.to)
        @Html.Kendo().DatePickerFor(a=>a.to)
    </div>
}
@(Html.Kendo().Grid(Model.Data)
    .Name("grid").DataSource(a=>a.Server().PageSize(20).Sort(b=>b.Add(c=>c.DateMsk).Descending()))
    .Columns(c =>
    {
        c.Bound(x => x.DateMsk).Title("Дата");
        c.Bound(x => x.StartDebt).Title("На начало дня");
        c.Bound(x => x.Income).Title("Зачислена выручка").HtmlAttributes(greenColor);
        c.Bound(x => x.Returns).Title("Возвраты").HtmlAttributes(redColor);
        c.Bound(x => x.Payoff).Title("Выплата выручки").HtmlAttributes(redColor);
        c.Bound(x => x.Penalty).Title("Другие операции").HtmlAttributes(redColor);
        c.Bound(x => x.EndDebt).Title("На конец дня");
    })
    .TableHtmlAttributes(new {@class="table"})
    .Pageable(p => p.PageSizes(new[] { 20, 50, 100, 250 }))
    .TableHtmlAttributes(new {@class="table"})
    .Sortable().Groupable()
      )

